openapi: 3.0.0
info:
  license:
    name: MIT
    url: https://github.com/aziontech/azionapi-openapi/blob/main/LICENSE.md
  title: Edge Firewall API
  version: 2.0.0
servers:
- description: Production
  url: https://api.azionapi.net
security:
- tokenAuth: []
paths:
  /edge_firewall:
    get:
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEdgeFirewallResponse'
          description: A list of edge firewalls
      summary: List all user edge firewall
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEdgeFirewallRequest'
        required: true
      responses:
        "201":
          description: Edge firewall created
        "400":
          description: Internal Server Error
        "500":
          description: Internal Server Error
      summary: Create a edge firewall
  /edge_firewall/{uuid}:
    delete:
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successfully deleted
      summary: Delete an edge firewall by uuid
    get:
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdgeFirewallResponse'
          description: An edge firewall object
      summary: Retrieve an edge firewall set by uuid
    patch:
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEdgeFirewallRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEdgeFirewallResponse'
          description: Successfully updated
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: "Update some edge firewall attributes, like \"active\""
    put:
      parameters:
      - explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEdgeFirewallRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEdgeFirewallResponse'
          description: Successfully updated
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: "Overwrite some edge firewall attributes, like \"active\""
components:
  schemas:
    Links:
      example:
        next: next
        previous: previous
      properties:
        previous:
          type: string
        next:
          type: string
      type: object
    EdgeFirewall:
      example:
        is_active: true
        last_editor: last_editor
        name: name
        waf_enabled: true
        network_protection_enabled: true
        domains:
        - 5
        - 5
        edge_functions_enabled: true
        id: 5
        last_modified: last_modified
        debug_rules: true
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        is_active:
          type: boolean
        last_editor:
          type: string
        last_modified:
          type: string
        edge_functions_enabled:
          type: boolean
        network_protection_enabled:
          type: boolean
        waf_enabled:
          type: boolean
        debug_rules:
          type: boolean
        domains:
          items:
            type: integer
          type: array
      type: object
    ListEdgeFirewallResponse:
      example:
        schema_version: 1
        count: 0
        links:
          next: next
          previous: previous
        total_pages: 6
        results:
        - is_active: true
          last_editor: last_editor
          name: name
          waf_enabled: true
          network_protection_enabled: true
          domains:
          - 5
          - 5
          edge_functions_enabled: true
          id: 5
          last_modified: last_modified
          debug_rules: true
        - is_active: true
          last_editor: last_editor
          name: name
          waf_enabled: true
          network_protection_enabled: true
          domains:
          - 5
          - 5
          edge_functions_enabled: true
          id: 5
          last_modified: last_modified
          debug_rules: true
      properties:
        count:
          format: int64
          type: integer
        total_pages:
          format: int64
          type: integer
        schema_version:
          format: int64
          type: integer
        links:
          $ref: '#/components/schemas/Links'
        results:
          items:
            $ref: '#/components/schemas/EdgeFirewall'
          type: array
      type: object
    CreateEdgeFirewallRequest:
      example:
        is_active: true
        name: name
        waf_enabled: true
        domains:
        - 0
        - 0
        network_protection_enabled: true
        edge_functions_enabled: true
      properties:
        name:
          type: string
        domains:
          items:
            type: integer
          type: array
        is_active:
          type: boolean
        edge_functions_enabled:
          type: boolean
        network_protection_enabled:
          type: boolean
        waf_enabled:
          type: boolean
      type: object
    EdgeFirewallResponse:
      example:
        schema_version: 0.8008281904610115
        results:
          is_active: true
          last_editor: last_editor
          name: name
          waf_enabled: true
          network_protection_enabled: true
          domains:
          - 5
          - 5
          edge_functions_enabled: true
          id: 5
          last_modified: last_modified
          debug_rules: true
      properties:
        results:
          $ref: '#/components/schemas/EdgeFirewall'
        schema_version:
          type: number
      type: object
    UpdateEdgeFirewallRequest:
      $ref: '#/components/schemas/ListEdgeFirewallResponse'
  securitySchemes:
    tokenAuth:
      description: |
        You must inform a token to auth.
        Usage format: `Token <TOKEN>`
      in: header
      name: Authorization
      type: apiKey
