openapi: 3.0.0
info:
  license:
    name: MIT
    url: https://github.com/aziontech/azionapi-openapi/blob/main/LICENSE.md
  title: Domain API
  version: 2.0.0
servers:
- description: Production
  url: https://api.azionapi.net
security:
- tokenAuth: []
paths:
  /domains:
    get:
      description: It returns the list of domains of an account.
      operationId: getDomains
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: order_by
        required: false
        schema:
          type: string
        style: form
      - example: application/json; version=3
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; version=3:
              schema:
                $ref: '#/components/schemas/DomainResponseWithResults'
          description: Successful response
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      summary: /domains
      tags:
      - Domains
    post:
      description: It enables you to include a new domain into an account.
      operationId: createDomain
      parameters:
      - example: application/json; version=3
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; version=3:
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
      responses:
        "200":
          content:
            application/json; version=3:
              schema:
                $ref: '#/components/schemas/DomainResponseWithResult'
          description: Successful response
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      summary: /domains
      tags:
      - Domains
  /domains/{id}:
    delete:
      description: It enables you to delete a domain.
      operationId: delDomain
      parameters:
      - example: application/json; version=3
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      - description: "The id of the domain to be deleted.\t"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      summary: /domains/:id
      tags:
      - Domains
    get:
      description: It returns details of a domain.
      operationId: getDomain
      parameters:
      - example: application/json; version=3
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      - description: "The id of the domain to be consulted.\t"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json; version=3:
              schema:
                $ref: '#/components/schemas/DomainResponseWithResult'
          description: Successful response
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      summary: /domains/:id
      tags:
      - Domains
    patch:
      description: "It updates one or more fields in a Domain, preserving the value\
        \ of the fields not informed."
      operationId: updateDomain
      parameters:
      - example: application/json; version=3
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; version=3:
            schema:
              $ref: '#/components/schemas/UpdateDomainRequest'
      responses:
        "200":
          content:
            application/json; version=3:
              schema:
                $ref: '#/components/schemas/DomainResponseWithResult'
          description: Successful response
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      summary: /domains/:id
      tags:
      - Domains
    put:
      description: |-
        It overwrites all fields of a domain, while preserving the id. Optional fields not filled in will be replaced by the default values.

        To update only some fields in a domain, consider using the PATCH method instead of PUT.
      operationId: putDomain
      parameters:
      - example: application/json; version=3
        explode: false
        in: header
        name: Accept
        required: false
        schema:
          type: string
        style: simple
      - example: application/json
        explode: false
        in: header
        name: Content-Type
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json; version=3:
            schema:
              $ref: '#/components/schemas/PutDomainRequest'
      responses:
        "200":
          content:
            application/json; version=3:
              schema:
                $ref: '#/components/schemas/DomainResponseWithResult'
          description: Successful response
        "400":
          description: Bad Request
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "422":
          description: Unprocessable Entity
        "500":
          description: Internal Server Error
      summary: /domains:/:id
      tags:
      - Domains
components:
  schemas:
    CreateDomainRequest:
      additionalProperties: false
      example:
        edge_application_id: 0
        is_active: true
        digital_certificate_id: 6
        cname_access_only: true
        name: name
        cnames:
        - cnames
        - cnames
      properties:
        cnames:
          items:
            type: string
          type: array
        cname_access_only:
          type: boolean
        name:
          type: string
        is_active:
          type: boolean
        edge_application_id:
          format: int64
          type: integer
        digital_certificate_id:
          format: int64
          nullable: true
          type: integer
      required:
      - cname_access_only
      - cnames
      - digital_certificate_id
      - edge_application_id
      - is_active
      - name
      type: object
    UpdateDomainRequest:
      additionalProperties: false
      example:
        edge_application_id: 0
        is_active: true
        digital_certificate_id: 6
        cname_access_only: true
        name: name
        cnames:
        - cnames
        - cnames
      properties:
        cnames:
          items:
            type: string
          type: array
        cname_access_only:
          type: boolean
        name:
          type: string
        is_active:
          type: boolean
        edge_application_id:
          format: int64
          type: integer
        digital_certificate_id:
          format: int64
          nullable: true
          type: integer
      type: object
    PutDomainRequest:
      additionalProperties: false
      example:
        edge_application_id: 0
        is_active: true
        digital_certificate_id: 6
        cname_access_only: true
        name: name
        cnames:
        - cnames
        - cnames
      properties:
        cnames:
          items:
            type: string
          type: array
        cname_access_only:
          type: boolean
        name:
          type: string
        is_active:
          type: boolean
        edge_application_id:
          format: int64
          type: integer
        digital_certificate_id:
          format: int64
          nullable: true
          type: integer
      required:
      - cname_access_only
      - cnames
      - digital_certificate_id
      - edge_application_id
      - is_active
      - name
      type: object
    DomainLinks:
      additionalProperties: false
      example:
        next: next
        previous: previous
      properties:
        previous:
          type: string
        next:
          type: string
      required:
      - next
      - previous
      type: object
    DomainResponseWithResults:
      additionalProperties: false
      example:
        schema_version: 1
        count: 0
        links:
          next: next
          previous: previous
        total_pages: 6
        results:
        - edge_application_id: 5
          domain_name: domain_name
          environment: environment
          is_active: true
          digital_certificate_id: 2
          cname_access_only: true
          name: name
          id: 5
          cnames:
          - cnames
          - cnames
        - edge_application_id: 5
          domain_name: domain_name
          environment: environment
          is_active: true
          digital_certificate_id: 2
          cname_access_only: true
          name: name
          id: 5
          cnames:
          - cnames
          - cnames
      properties:
        count:
          format: int64
          type: integer
        total_pages:
          format: int64
          type: integer
        schema_version:
          format: int64
          type: integer
        links:
          $ref: '#/components/schemas/DomainLinks'
        results:
          items:
            $ref: '#/components/schemas/DomainResults'
          type: array
      required:
      - count
      - links
      - results
      - schema_version
      - total_pages
      type: object
    DomainResponseWithResult:
      additionalProperties: false
      example:
        schema_version: 0
        results:
          edge_application_id: 5
          domain_name: domain_name
          environment: environment
          is_active: true
          digital_certificate_id: 2
          cname_access_only: true
          name: name
          id: 5
          cnames:
          - cnames
          - cnames
      properties:
        schema_version:
          format: int64
          type: integer
        results:
          $ref: '#/components/schemas/DomainResults'
      required:
      - results
      - schema_version
      type: object
    DomainResults:
      additionalProperties: false
      example:
        edge_application_id: 5
        domain_name: domain_name
        environment: environment
        is_active: true
        digital_certificate_id: 2
        cname_access_only: true
        name: name
        id: 5
        cnames:
        - cnames
        - cnames
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        cnames:
          items:
            type: string
          type: array
        cname_access_only:
          type: boolean
        is_active:
          type: boolean
        edge_application_id:
          format: int64
          type: integer
        digital_certificate_id:
          format: int64
          nullable: true
          type: integer
        domain_name:
          type: string
        environment:
          type: string
      required:
      - content_type
      - id
      - last_editor
      - name
      - type
      - updated_at
      type: object
  securitySchemes:
    tokenAuth:
      description: |-
        You must inform a token to auth.
        Usage format: `Token <TOKEN>`
      in: header
      name: Authorization
      type: apiKey
